@(formUser: Form[User])

@import helper._

<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("bootstrap/css/bootstrap.min.css")">
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("bootstrap/js/bootstrap.min.js")"></script>
        <title>creation user</title>
    </head>
    <body>
    @form(routes.UserCtl.create(), args='class->"col-lg-6") {
        <fieldset>
            <legend>Add an user</legend>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                    @inputText(field = formUser("username"), args = 'size->20, 'maxlenght->40, 'placeholder->"type username here", '_label->"Username of new user", 'class->"form_control")
                    </div>
                    <div class="form-group">
                    @inputPassword(field = formUser("password"), args = 'size->20, 'maxlenght->40, 'placeholder->"type password here", '_label->"Password of new user", 'class->"form_control")
                    </div>
                    <div class="form-group">
                    @inputText(formUser("nickname"), args = 'size->20, 'maxlenght->40, 'placeholder->"type nickname here", '_label->"Nickname of new user", 'class->"form_control")
                    </div>
                    <div class="form-group">
                    @inputText(formUser("groupname"), args = 'size->20, 'maxlenght->40, 'placeholder->"type groupname here", '_label->"Groupname of new user", 'class->"form_control")
                    </div>
                    <div class="form-group">
                    @inputText(formUser("votekey"), args = 'size->20, 'maxlenght->40, 'placeholder->"type votekey here", '_label->"Votekey of new user", 'class->"form_control")
                    </div>
                </div>
            </div>
        </fieldset>
        <input type="submit" value="Creer user" class="btn btn-primary">
            &nbsp;
        <a class="btn" href="@routes.Application.index()"> Annuler</a>
    }
    </body>
</html>
