@(listProductions: List[Production])
<!DOCTYPE html>

<html>
<head>
     <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))'>
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
    <title>Creation prod index</title>
</head>
<body>
    @if(listProductions.isEmpty) {
       <p>Aucune compos de définies</p>
    } else {
        <ul>
        @for(production <- listProductions) {
            <li> <strong> name : </strong> @production.name <br />
                 <strong> comment : </strong> @production.comment <br />
                 <strong> filename : </strong> @production.filename <br />
            </li>
        }
        </ul>
    }
    <a class="btn btn-success" id="add" href=@routes.ProductionCtl.show()>Soumettre une nouvelle production</a>
    &nbsp;
    <a class="btn" href="@routes.Application.index()">Retour au menu general</a>
</body>
</html>
