<!DOCTYPE html>

<html>
    <head>
        <title>WWW Demojs</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>
    <body>
        <h1></h1>

        <ul>
            <li><a href="@routes.UserCtl.index()">Creation utilisateur</a></li>
            <li><a href="@routes.UserCtl.login()">identification</a></li>
            <li><a href="@routes.ProductionCtl.index()">Creation production</a></li>
            <li><a href="@routes.VoteCtl.show()">Vote</a></li>
        </ul>
    </body>
</html
